$tran-theme: background-color 0.8s, color 0.8s;
$color-nen-toi: #000; 
$color-nen-sang: #fff; 
$man-phu-sang:#222222;
$man-phu-toi:#F3F3F3;
$man-memory-sang: #232323;
$man-memory-toi: #fff;
$chu-memory-sang: #fff;
$chu-memory-toi: #232323;
$chu-btn-sang: #fff;
$chu-btn-toi: #000;
$chu-man-phu-sang: #fff;
$chu-man-phu-toi: #323232;
$khung-button-sang: #222;
$khung-button-toi: #eee;
$boder-button-sang: #323232;
$boder-button-toi: #fff;
$color-btn-sang : #323232;
$color-btn-toi : #F3F3F3;