@import "base.scss";
html[data-theme="light"] {
    --color-manphu : #{$man-phu-sang};
    --color-memory : #{$man-memory-sang};
    --color-text-memory : #{$chu-memory-sang};
    --color-text-manphu : #{$chu-man-phu-sang};
    --color-khungbtn : #{$khung-button-sang};
    --color-boderbtn : #{$khung-button-sang};
    --color-nen : #{$color-nen-sang};
    --color-text-btn : #{$chu-btn-sang};
    --color-btn : #{$color-btn-sang};
    --color-text-man : #{$color-nen-sang};
}

html[data-theme="dark"] {
    --color-manphu : #{$man-phu-toi};
    --color-memory : #{$man-memory-toi};
    --color-text-memory : #{$chu-memory-toi};
    --color-text-manphu : #{$chu-man-phu-toi};
    --color-khungbtn : #{$khung-button-toi};
    --color-boderbtn : #{$khung-button-toi};
    --color-nen : #{$color-nen-toi};
    --color-text-btn : #{$chu-btn-toi};
    --color-btn: #{$color-btn-toi};
    --color-text-man : #{$color-nen-toi};
}

i {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 15px 17px;
    background-color: var(--color-manphu);
    color: var(--color-text-memory);
    border-radius: 50px;
    cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Căn giữa theo chiều dọc */
    margin: 0;
    background-color: var(--color-nen);
    transition: background-color 0.8s ease, color 0.8s ease;
}
.calculator {
    width: 300px;
    background-color: var(--color-khungbtn);
    transition: background-color 0.8s ease, color 0.8s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    z-index: 5;

    &__screen { // màn chính , phụ
        &--secon,
        &--main {
            height: 80px;
            background-color: var(--color-btn);
            transition: background-color 0.8s ease, color 0.8s ease;
            color: var(--color-text-man);
            text-align: right;
            line-height: 80px;
            padding: 0 20px;
            font-size: 25px;
            box-sizing: border-box;
        }
    }

    &__memory { // thanh M+ , M_ ... 
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        color: var(--color-text-manphu);
        background-color: var(--color-memory);
        cursor: pointer;

        &--segment {
            width: 20px;
            height: 20px;
        }
    }

    &__button { // button
        display: flex;
        flex-wrap: wrap;
        background-color: var();
        &--item {
            width: 25%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-text-btn);
            border: 1px solid var(--color-boderbtn);
            box-sizing: border-box;
            cursor: pointer;
            font-size: 1.5em;
            background-color: var(--color-btn);
            border-radius: 7px;

            &:last-child {
                background-color: plum;
            }

            &:hover {
                background-color: var(--color-background);
            }
        }
    }

    &__memory-actions { // bộ nhớ memory
        position: absolute;
        width: 100%;
        background-color: #6d6c6c;
        transition: height 0.5s ease;
        z-index: 10;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 5px;

        &__text {
            color: #fff;
            float: right;
            padding: 0 20px;
            font-size: 18px;
        }

        &__hover {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}
